[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vtk = "*"
django = "*"
pandas = "*"
numpy = "*"
whitenoise = "*"
gunicorn = "*"
mrafit = "*"
pyqt5 = "*"
pyqt6 = "*"
pymongo = "*"
etchingsim = {file = "etchingsim", editable = true}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
